.red{ color: red; }
.bold{ font-weight: bold; }
.clear{ clear: both; }
.clear_0{ height:0;width:100%;clear:both; }
.clear_5{ height:5px;width:100%;clear:both; }
.clear_20{ height:20px;width:100%;clear:both; }
.clear_40{ height:40px;width:100%;clear:both; }
.clear_60{ height:60px;width:100%;clear:both; }
.clear_80{ height:80px;width:100%;clear:both; }
.clear_120{ height:80px;width:100%;clear:both; }